<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	</head>

<body>
	
	<nav id="headNav"></nav>

	<div class="container">
		<div id="pumpContainer" class="row justify-content-center">

		</div>

	</div>


	

	<script type="text/javascript" src="/static/jquery/jquery_dev.js"></script>
	

	
	
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/pumpDisplay/pumpDisplay.js"></script>
	<script type="text/javascript" src="/static/js/navbar.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>